JAVA_OPTS="{{ blynk_server_jvm_options | join(' ') }}"
BLYNK_OPTS="-dataFolder {{ blynk_server_config_merged['data.folder'] }} -serverConfig {{ blynk_server_config_path }} -mailConfig {{ blynk_server_mail_properties_path }}"
